:root{
    --red-primary: #D6000D;
    --black-primary:#000;
    --white-primary:#fff;
    
}

*{
    padding: 0;
    margin: 0;   
    box-sizing: border-box;
    font-family: "Roboto" , sans-serif;
}

body{
    min-height: 100vh;
    max-width: 100vw;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;   
    height: 80px;
}

header p{
    margin-left: 30px;
    font-size: 32px;
    color: var(--red-primary); 
    font-weight: 600;
}

header span{
    color:var(--black-primary);
}

header nav {
    margin-right: 30px;
}

header nav button{
    width: 120px;
    height: 30px;
    font-size: 16px;
    background-color: var(--red-primary);
    color: var(--white-primary);
    border: 1px solid var(--red-primary);
    border-radius: 5px;
}

.link-nav{  
    color:var(--black-primary);
    font-size: 18px;
    margin-right: 15px;

}

.container-information{
    display: flex;    
    min-height: 80vh;
    align-items: center; 
    width: 800px;
    margin: 0 auto;

}

.container-information .block-image{
    margin-right: 50px;
}

.container-information .block-image img{
    width: 500px;
    height: 400px;
}

.container-information .block-details{
    height: 300px;
    display: flex;
    flex-direction: column;
}

.container-information .block-details p{
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
}

.container-information .block-details span{
    font-size: 40px;
    margin-bottom: 50px;
    color: var(--red-primary);
    font-weight: 900;
}

.container-information .block-details button{
    border-radius: 10px;
    border:1px solid var(--red-primary);
    background-color: var(--red-primary);
    color: var(--white-primary);
    font-size: 18px;
    width: 250px;
    height: 40px;
}

.container-services{
    height: 80vh;
    width: 800px;
    margin: 100px auto 0; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.container-services .block-list{
    display: flex;
    justify-content: center;
    grid-column: 1 / 3;
}

.container-services .block-list div{
    display: flex;
}

.container-services .block-list ul{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-services .block-list img{
    width: 400px;
    height: 300px;
}

.container-services .block-contact {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;   
}