:root {
  --red-primary: #d6000d;
  --black-primary: #000;
  --white-primary: #fff;
  --gray-primary: #c8c6c6;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.fa-circle-check,
.fa-facebook-square,
.fa-instagram,
.fa-twitter-square {
  color: var(--red-primary);
  margin-right: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

header p {
  margin-left: 30px;
  font-size: 32px;
  color: var(--red-primary);
  font-weight: 600;
}

header span {
  color: var(--black-primary);
}

header nav {
  margin-right: 30px;
}

header nav button {
  width: 120px;
  height: 30px;
  font-size: 16px;
  background-color: var(--red-primary);
  color: var(--white-primary);
  border: 1px solid var(--red-primary);
  border-radius: 5px;
}

.link-nav {
  color: var(--black-primary);
  font-size: 18px;
  margin-right: 15px;
}

.container-information {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 80vh;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.container-information .block-image {
  width: 100%;
}

.container-information .block-image img {
  width: 100%;
  max-width: 400px;
  object-fit: fill;
}

.container-information .block-details {
  height: 300px;
  display: flex;
  flex-direction: column;
}

.container-information .block-details p {
  padding: 15px 0;
  font-size: 18px;
  font-weight: bold;
}

.container-information .block-details span {
  font-size: 40px;
  margin-bottom: 50px;
  color: var(--red-primary);
  font-weight: 900;
}

.container-information .block-details button {
  border-radius: 10px;
  border: 1px solid var(--red-primary);
  background-color: var(--red-primary);
  color: var(--white-primary);
  font-size: 18px;
  width: 250px;
  height: 40px;
}

.container-services {
  height: 80vh;
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.container-services .block-list {
}

.container-services .block-list ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-services .block-list ul li {
  padding-bottom: 10px;
}

.container-services .box-image-service {
  width: 100%;
}

.container-services .box-image-service img {
  max-width: 400px;
  object-fit: fill;
  width: 100%;
}

.container-contact {
  width: 80%;
  margin: 0 auto;
  height: 200px;
}

.container-contact .block-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container-contact .block-contact p {
  font-weight: 600;
  padding-bottom: 15px;
}

.container-contact .block-contact input {
  height: 35px;
  width: 200px;
  margin-right: 5px;
  border-radius: 5px;
  background-color: var(--gray-primary);
  border: none;
  font-size: 14px;
  padding-left: 10px;
}

.container-contact .block-contact button {
  height: 35px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid var(--red-primary);
  background-color: var(--red-primary);
  color: var(--white-primary);
  font-size: 14px;
}

.container-comments {
  display: flex;
  justify-content: center;
  height: 300px;
  width: 90%;
  margin: 0 auto;
}

.container-comments div.block-comment:first-child {
  margin-right: 50px;
}

.container-comments .block-comment {
  width: 500px;
  height: 200px;
  background-color: var(--gray-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  flex: 1;
}

.container-comments .block-comment .text-info {
  display: flex;
  width: 400px;
  margin: 0 auto;
}

.container-comments .block-comment .text-info .container-image-author {
  width: 70px;
  min-height: 70px;
  background-color: var(--red-primary);
  border-radius: 50px;
  margin: 0 15px 0 0;
}

.container-comments .block-comment .text-info .comment .author-info {
  margin-top: 20px;
}

.container-comments
  .block-comment
  .text-info
  .comment
  .author-info
  p:nth-child(2) {
  font-weight: bold;
}

footer {
  min-height: 200px;
  background-color: var(--black-primary);
  color: var(--white-primary);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

footer .box-info-contact {
  width: 250px;
  height: 100px;
}

footer .box-info-contact p {
  padding-top: 20px;
}

footer .box-info-contact div {
  padding-top: 20px;
  display: flex;
  width: 60%;
  justify-content: space-between;
}
/* media  query  para  mobile */
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    margin: 30px 0;
  }

  header p {
    margin: 0;
    font-size: 40px;
  }

  header nav {
    margin-right: 0;
  }

  header nav button {
    display: none;
  }

  .container-information {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .container-information .block-image {
    margin: 0;
    min-width: 280px;
    width: 300px;
  }

  .container-information .block-details {
    align-items: center;
  }

  .container-services {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
  }

  .container-services .block-list {
    grid-row: 2;
  }

  .container-services .block-list ul {
    width: 250px;
  }

  .container-services .box-image-service {
    margin: 0;
    min-width: 280px;
    width: 300px;
    grid-row: 1;
  }

  .container-contact {
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
  }

  .container-contact .block-contact {
    align-items: center;
  }

  .container-contact .block-contact div {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }

  .container-contact .block-contact input {
    width: 220px;
  }

  .container-contact .block-contact button {
    width: 220px;
  }

  .container-comments {
    height: 500px;
    row-gap: 10px;
    column-gap: 30px;
    flex-wrap: wrap;
  }

  .container-comments div.block-comment:first-child {
    margin: 0;
  }

  .container-comments .block-comment {
    width: 90%;
  }

  .container-comments .block-comment .text-info {
    width: 300px;
  }

  footer {
    min-height: 500px;
    flex-direction: column;
  }

  footer .box-info-contact {
    margin: 15px 0;
  }

  footer .box-info-contact p {
    padding: 5px 0;
  }
}

/* media query para  telas maiores */
@media screen and (min-width: 1370px) {
  .container-information {
    min-height: 50vh;
  }

  .container-services {
    height: 50vh;
  }
}
